@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

.container {
  @apply max-w-7xl w-full mx-auto px-3;
}

.header-container {
  @apply max-w-7xl w-full mx-auto px-0 sm:px-3;
}

.btn {
  @apply relative transition-colors duration-300 text-white text-base bg-blue-800 rounded-xl px-6 py-2 flex gap-2 items-center justify-center hover:bg-blue-700;

  &-lg {
    @apply text-base px-8 py-4 font-medium;
  }

  &-xl {
    @apply px-12 py-4 rounded-lg text-xl font-medium;
  }

  &-sm {
    @apply px-8 py-1 rounded-lg text-sm;
  }

  &:active:enabled {
    @apply -bottom-px;
  }

  &:disabled {
    @apply opacity-60 grayscale;
  }

  &-cancel {
    @apply bg-transparent text-black hover:bg-slate-200  px-4;
  }
}

.dashed-border {
  background-image: linear-gradient(
      90deg,
      rgb(209 213 219) 50%,
      transparent 50%
    ),
    linear-gradient(90deg, rgb(209 213 219) 50%, transparent 50%),
    linear-gradient(0deg, rgb(209 213 219) 50%, transparent 50%),
    linear-gradient(0deg, rgb(209 213 219) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  background-position: left top, right bottom, left bottom, right top;
}

.dashed-border-active {
  background-image: linear-gradient(
      90deg,
      rgb(156 163 175) 50%,
      transparent 50%
    ),
    linear-gradient(90deg, rgb(156 163 175) 50%, transparent 50%),
    linear-gradient(0deg, rgb(156 163 175) 50%, transparent 50%),
    linear-gradient(0deg, rgb(156 163 175) 50%, transparent 50%);
}

.dashed-animation {
  animation: border-dance 2s infinite linear;
}
@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right top;
  }
  100% {
    background-position: left 15px top, right 15px bottom, left bottom 15px,
      right top 15px;
  }
}

.ghost {
  @apply opacity-60;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #000 #fff;
}

/* For Chrome, EDGE, Opera, Others */
.scrollbar::-webkit-scrollbar {
  @apply w-2;
}

.scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-50  rounded-lg;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-gray-300 min-h-[50px];
}

img[lazy="loading"] {
  -webkit-animation: fade-in 0.3s ease-in-out both;
  animation: fade-in 0.3s ease-in-out both;
}
img[lazy="error"] {
  /*your style here*/
  -webkit-animation: fade-in 0.3s ease-in-out both;
  animation: fade-in 0.3s ease-in-out both;
}
img[lazy="loaded"] {
  /*your style here*/
  -webkit-animation: fade-in 0.3s ease-in-out both;
  animation: fade-in 0.3s ease-in-out both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flip-vertical-right {
  -webkit-animation: flip-vertical-right 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-5-19 13:9:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-vertical-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.slide-left-enter-active {
  transition: all 0.2s ease-out;
}

.slide-left-leave-active {
  position: absolute;
  transition: all 0.2s ease-out;
}

.slide-left-enter-from {
  transform: translateX(120%);
  opacity: 0;
}
.slide-left-leave-to {
  transform: translateX(-120%);
  opacity: 0;
}

.slide-right-enter-active {
  transition: all 0.2s ease-out;
}

.slide-right-leave-active {
  position: absolute;
  transition: all 0.2s ease-out;
}

.slide-right-enter-from {
  transform: translateX(-120%);
  opacity: 0;
}
.slide-right-leave-to {
  transform: translateX(120%);
  opacity: 0;
}

.slide-down-enter-active {
  transition: all 0.2s ease-out;
}

.slide-down-leave-active {
  position: absolute;
  transition: all 0.2s ease-out;
}

.slide-down-enter-from {
  transform: translateY(120%);
  opacity: 0;
}
.slide-down-leave-to {
  transform: translateY(120%);
  opacity: 0;
}
