/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important


.example-container {
  position relative
  border 1px solid #eaecef
  height 300px
  margin-bottom 10px
  overflow hidden
}